.button-create {
    background-color: #B85C38;
    border-color: #B85C38;
    color: #E0C097;
    font-family: 'EB Garamond', serif;
    font-style: italic
} 
    .button-create:hover {
        background-color: #e47143;
        border-color: #B85C38;
    }
.upload-button {
        background-color: #B85C38;
        color: #E0C097;
        font-style: italic;
        font-size: 2rem;
        position: relative;
        bottom: 8rem;
        opacity: .8;
}